

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Signup</h1>
    <form method="post" action="/user">
      <labe>Enter your full Name</labe>
      <input type="text" required name="name" />
      <labe>Enter email</labe>
      <input type="text" required name="email" />
      <labe>Enter password</labe>
      <input type="text" required name="password" />

      <button type="submit">Signup</button>


    </form>
  </body>
</html>
